/node_modules
/public/hot
/public/storage
/public/companies_logo
!/public/companies_logo/defaultImage.png
/storage/*.key
/vendor
/.idea
/frontend/.idea
/frontend/dist
/frontend/node_modules
/frontend/v8-compile-cache-0
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
